.footer {
    padding: clamp(1rem, 3.125vw, 2rem);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;

    border-top: 2px solid $lightGreen;

    font-family: TT Lakes;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $gray;
    opacity: 0.72;
    mix-blend-mode: normal;
}
  
@media (min-width: 768px) {
    .footer {
        justify-content: space-between;
        flex-direction: row;
        
        &__developed {
            flex: 1;
            text-align: start;
        }

        &__politics {
            flex: 1;
        }

        &__offer {
            flex: 1;
            text-align: end;
        }
    }
}