.modal-call {
    z-index: 10;
    background: rgba(234, 234, 234, 0.5);
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;

    position: fixed;
    top: 0;
    
    
    &__overlay {
        background: #fff;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out, opacity .5s ease-in-out;
        position: fixed;
        width: 220vw;
    }

    &__overlay--close {
        transform: translateX(120%);
    }

    &__overlay--open {
        transform: none;
    }

    &__content {
        position: fixed;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: min(100%, 27.5rem);
        min-height: 100lvh;
        padding: clamp(1.5rem, 3.125vw, 2.5rem) clamp(1rem, 3.125vw, 2rem);
        background: #FFFFFF;
    }

    &__form-top-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        position: relative;
    }



    &__btn-close {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-image: url(/img/burger-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__title {
        display: flex;
        font-family: TT Lakes;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
        font-weight: 700;
    }

    &__title::before {
        content: "";
        position: absolute;
        align-self: center;
        border-left: 6px solid $gainGreen;
        border-radius: 6px;
        width: 6px;
        height: 2.5rem;
        left: calc(clamp(1rem, 3.125vw, 2rem)* -1.1);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__form-input {
        width: 100%;
        border: 1px solid rgba(234, 234, 234, 1);
        border-radius: 0.5rem;
        padding: 1rem;
        color: rgba(181, 182, 188, 1);
        
    }

    &__form-input::placeholder {
        color: rgba(181, 182, 188, 1);
    }

    &__form-bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $gray;
    }

    &__form-bottom-text > a {
        color: $accent;
    }

    &__form-submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        color: $backgrWhite;
        background-color: $accent;
        border-radius: 1rem;
        width: 8.5rem;
        height: 2rem;
        font-weight: 700;
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    &__form-submit-arrow {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(/img/goside.svg);
    }
}

@media (min-width:321px) {
    .modal-call__content {
        border-left: 2px $lightGreen solid;
    }
}

@media (min-width: 1024px) {

    .modal-call {
        &__btn-close {
            position: absolute;
            left: -6rem;
            top: -0.3rem;
        }
    }
}

.modal-call--open {
    transform: none;
}

.modal-call--close {
    transition: transform .3s ease-in-out;
    transform: translateX(120%);
}